blockquote.sparql-query,
blockquote.sparql-error {
    font-family: monospace;
    font-size: 12px;
    white-space: pre;
    background: #ddd !important;
    border: 2px solid #bbb;
    padding:5px !important;
    overflow:auto;
    width:100% !important;
}

.sparql-query span.variable {
    background: #c90;
}
.sparql-query span.variable.interpolated {
    background: #6d6;
}

table.sparql-results {
    border-collapse: collapse;
}

table.sparql-results th {
border: 1px solid #999;
background: #ececec;
}

table.sparql-results th, table.sparql-results td {
    padding: 3px;
}

p.sparql-stats .number {
    font-family: monospace;
    font-weight: bold;
    color: #a50;
}

p.sparql-has-result .boolean {
    font-weight: bold;
    color: #a50;
}

.sparql-error {
    white-space: pre;
    border: 2px solid #f00;
}

.row_0, .row_0 td {
    color:#787878;
    border: 1px solid #787878;
}
.row_1, .row_1 td {
    color:#888888;
    border: 1px solid #888888;
}
.row_2, .row_2 td {
    color:#989898;
    border: 1px solid #989898;
}
.row_3, .row_3 td {
    color:#A8A8A8;
    border: 1px solid #A8A8A8;
}
.row_4, .row_4 td {
    color:#A8A8A8;
    border: 1px solid #A8A8A8;
}
.row_5, .row_5 td {
    color:#B8B8B8;
    border: 1px solid #B8B8B8;
}
.row_6, .row_6 td{
    color:#C8C8C8;
    border: 1px solid #C8C8C8;
}
.row_7, .row_7 td {
    color:#D8D8D8;
    border: 1px solid #D8D8D8;
}
.row_8, .row_8 td {
    color:	#E8E8E8 ;
    border: 1px solid 	#E8E8E8 ;
}
.row_9, .row_9 td {
    color:#F8F8F8 ;
    border: 1px solid #F8F8F8;
}

.eea-sparql-item div.preview {
    font-size: 14px;
    position: absolute;
    bottom: 0.7em;
    left: 0.7em;
    visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.eea-sparql-item:hover span.photoAlbumEntryWrapper {
    display: none;
}

.eea-sparql-item:hover .photoAlbumEntryTitle {
    padding-top: 2em;
    font-size: 16px;
}

.eea-sparql-item:hover div.preview {
    visibility: visible;
}

#eea-sparql-overlay {
    background: white;
    width: 70%;
    height: 70%;
    overflow: auto;
}

#eea-sparql-overlay .contentWrap table,
#eea-sparql-overlay .loading {
    width: 90%;
    margin: 3em auto;
}

#eea-sparql-overlay .loading {
    text-align: center;
}
